@model IEnumerable<shop.Models.Car.CarListViewModel>


@{
    int queueNumber = 0;
}
<div>
    <a asp-action="add" asp-controller="car" type="submit" class="btn btn-danger">Add</a>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Mark</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Ammount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                queueNumber++;
                <tr>
                    <td class="">@queueNumber</td>
                    <td class="">@car.Mark</td>
                    <td class="">@car.Model</td>
                    <td class="">@car.Price</td>
                    <td class="">@car.Amount</td>
                    <td>

                        <input asp-action="delete" asp-controller="car" asp-route-id="@car.Id" type="submit" class="btn btn-danger" value="Delete" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>